body{
    margin: 0;
    font-family: "Montserrat";
	color: #14274A;
    display: block;
    
}

/*header*/

header{
	background: url("../Images/FotoHotel.jpeg");
	  background-color: #cccccc;
	  height: 700px;
	  background-position: center;
	  background-size: cover;
	  position: relative;
	  font-family: adobe Garamond pro;
	  font-size: 20px;
	  font-weight: lighter;
	  line-height: 1;
}

.kotak-luxury{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 15px;
	background: #E0B973;
	position: absolute;
	margin-left: 120px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	width: 130px;
	letter-spacing: 2px;
}

.kotak-hotel{
	font-size: 10px;
	letter-spacing: 5px;
}

nav ul {
	list-style-type: none;
	float: right;
	margin-top: 50px;
}

nav ul li{
	font-family: Montserrat;
	display: inline;
	font-size: 15px;
	margin-right: 70px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

nav ul li a:hover{
	cursor: pointer;
	text-decoration: underline;
}
.bagian-header{
	font-family: Montserrat;
	padding-top: 100px;
	padding-left: 120px;
    color: white;
	font-weight: normal;
	font-size: 1rem;
}
.bagian-header h3{
	font-family: Montserrat;
	color: white;
	font-size: 40px;
    letter-spacing: 10px;
	font-weight: 300;
}

.bagian-luxury{
	font-size: 5rem;
	font-family: Adobe Garamond Pro;
	letter-spacing: 10px;
	margin:0;
}

.bagian-hotel{
	margin: 0;
	font-size: 2rem;
    font-family: Adobe Garamond Pro;
    padding-top: 20px;
	letter-spacing: 4px;
	font-weight: 300;
	margin-bottom: 10px;
}

.header-center p{
	font-size: 15px;
	letter-spacing: 5px;
}

.book-now{
	display: block;
	margin: auto;
	margin-top: 60px;
	padding: 12px;
	border-radius: 5px;
	background: #E0B973;
	border:0;
	color: white;
	font-weight: bold;
    cursor: pointer;
    width: 150px;

}

.book p{
	text-align:center;
	font-family: Montserrat;
	font-weight: bold;
	font-size:15px;
	margin-top: 50px;
	color: white;
}

.body h3{
	text-align:center;
	margin-top: 60px;
}

.explore{
	padding:10px;
	background-color: #E0B973;
	border:none;
	width: 200px;
	cursor: pointer;
	padding-right: 14px;
	font-weight: bold;
	border-radius: 10px;
	color: white;
}
.testimony{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
}

.testimony h1{
	margin-top: 500px;
    font-family: Adobe Garamond Pro;
    margin-bottom: 30px;
}

.testimony button{
	padding: 10px;
	background-color: #E0B973;
	border:none; 
	border-radius: 5px;
	font-weight: bold;
	color: white;
    cursor: pointer;
    margin-bottom: 60px;
}
footer {
	background: #14274A;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

*{
	box-sizing: border-box;
}

.col-2 {
    float: left;	
    width: 50%;
    padding: 30px; 
}	

.bawah {
	margin-top: 10px;
	margin-bottom: 10px;
    text-align: center;
  }
/*end of header*/


